<h1>Edit District</h1>
<form action="/districts/edit/<%= district._id %>" method="POST">
  <input type="text" name="name" value="<%= district.name %>" required>
  <button type="submit">Save</button>
</form>
